<?xml version="1.0" encoding="UTF-8"?>

<!--日志输出级别从低到高为：All < Trace < Debug < Info
 < Warn < Error < Fatal < OFF.-->

<Configuration status="INFO">

    <!--定义appender-->
     <Appenders>

         <Console name="Console" target="SYSTEM_OUT">

             <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
         </Console>

     </Appenders>


    <!--定义logger-->
    <Loggers>

         <Root level="info">
           <AppenderRef ref="Console"/>
         </Root>
    </Loggers>
</Configuration>